<!DOCTYPE html>
<html lang="en-us" ng-app="myApp">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="chessified.css" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<title></title>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover(); 
	});
	</script>

	<style type="text/css">
		.mainContainer{
			background-color: white;
		}
		.gameNavItemContainer{
			text-align: center;
			padding: 0px;
			margin: 10px 10px 10px 10px;
			background-color: white;
			display: inline-block;
			width: 220px;
			height: 220px;
		}
		.gameNavItemHeader{
			background-color: white;
			padding: 0px;
			margin: 0px;
		}
		.boardNavImage{
			padding: 0px;
			margin: 0px;
			width: 200px;
			height: 200px;
			height: auto;
			border: 3px solid transparent;
		}
		.activeNavGame{
			border: 3px solid lightgreen;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span> 
				</button>
				<a class="navbar-brand" href="#">Chessified</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">My Games</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">New Game<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Find an opponent</a></li>
							<li><a href="#">Create new game</a></li> 
							<li><a href="#">Invite a player</a></li>
						</ul>
					</li>
					<li><a href="#">Page 1</a></li>
				</ul>
			    <ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
					<li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
			    </ul>
			</div>

		</div>
	</nav>
	<div class="container mainContainer">

		<div class="panel panel-default">
			<!-- <div class="panel-heading">Filters</div> -->
			<div class="panel-body">
				<div class="checkbox">
					<label><input type="checkbox" value="">Your turn</label>
					<span class="badge">7</span>
				</div>
			</div>
		</div>

		<div class="gameNavItemContainer">
			<h4 class="gameNavItemHeader">Rene Fereirra</h4>
			<img src="images/board-example.png" class="boardNavImage activeNavGame" />
		</div>
		<div class="gameNavItemContainer">
			<h4 class="gameNavItemHeader">Danielle van der Meulen</h4>
			<img src="images/board-example.png" class="boardNavImage" />
		</div>
		<div class="gameNavItemContainer">
			<h4 class="gameNavItemHeader">Senna Fereirra</h4>
			<img src="images/board-example.png" class="boardNavImage" />
		</div>
		<div class="gameNavItemContainer">
			<h4 class="gameNavItemHeader">Ron bruins</h4>
			<img src="images/board-example.png" class="boardNavImage" />
		</div>
		<div class="gameNavItemContainer">
			<h4 class="gameNavItemHeader">Elvira van loenen</h4>
			<img src="images/board-example.png" class="boardNavImage" />
		</div>
		<div class="gameNavItemContainer">
			<h4 class="gameNavItemHeader">Josefien Bruins</h4>
			<img src="images/board-example.png" class="boardNavImage" />
		</div>
	</div>


	<br />
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<!-- 	<div ng-controller="mainController">
		<div ng-if="username !== null">{{ username }}</div>
	</div> -->

</body>
</html>